# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
*.elf
*.nds

# Blender backups
*.blend1

# Windows thumbnail files
*.db
local-bash.sh

# NitroFS Files
arm9/nitrofs/textures/

# Sublime Text .dmp files (upon crashes)
*.dmp

tools/olimar_low_poly.blend
tools/olimar_low_poly.dsgx
debug.sh
